.login-container {
    height: 90%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content {
    width: 50vw;
}

mat-form-field {
    width: 100%;
    display: block;
}

button {
    width: 100%;
}

.pad-20 {
    padding:20px
}