<div>
    <mat-sidenav-container style="height: '100vh'">
        <mat-sidenav color="primary" class="sidebar" #sidebar mode="over">
            <app-sidebar>
            </app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <p>
                <mat-toolbar color="primary">
                    <button mat-icon-button (click)="sidebar.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span>TA-Bot</span>
                    <span class="spacer"></span>
                    <button mat-icon-button [routerLink]="'/login'">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                </mat-toolbar>
            </p>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>