.div {
    padding: 20px;
}

.bot-card {
    padding: 20px;
    height: 60vh;
}

.bot-frame {
    border: none;
    height: calc(60vh - 40px - 20px);
    width: 100%;
}

.pad-20 {
    padding: 20px;
}

.names {
    max-width: 80px;
}

.response {
    display: flex;
}


.addButton {
    padding: 20px;
}

.submitButton {
    padding: 20px;
}