<div class="main-div">
    <mat-stepper orientation="vertical" [linear]="true" #stepper>
        <mat-step [stepControl]="contactGroup">
            <form [formGroup]="contactGroup">
                <ng-template matStepLabel>Contact Information</ng-template>
                <div>
                    <mat-form-field class="input-horizontal">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="input-horizontal">
                        <mat-label>Email Address</mat-label>
                        <input matInput formControlName="email" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Phone</mat-label>
                        <input matInput maxlength="10" formControlName="phone">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="accent" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="contactGroup">
            <form [formGroup]="contactGroup">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>