<div class="center-container">
    <div class="content">
        <mat-stepper orientation="vertical" linear #stepper>
            <mat-step [stepControl]="initGroup">
                <form [formGroup]="initGroup">
                    <ng-template matStepLabel>Initial Information</ng-template>
                    <div class="pad-20">
                        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" required [(ngModel)]="professor.firstName">
                        </mat-form-field>
                        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" required [(ngModel)]="professor.lastName">
                        </mat-form-field>
                        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                            <mat-label>Number of Courses</mat-label>
                            <input matInput formControlName="numCourses" type="number" required
                                [(ngModel)]="numCourses">
                        </mat-form-field>
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngFor="let course of [].constructor(numCourses); let i = index" [stepControl]="courseGroup">
                <form [formGroup]="courseGroup">
                    <ng-template matStepLabel>Course {{i + 1}}</ng-template>
                    <div class="pad-20">
                        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                            <mat-label>Course Name</mat-label>
                            <input matInput formControlName="courseName" placeholder="e.g. Intro to Software" required
                                [(ngModel)]="ids[i]">
                        </mat-form-field>
                        <div class="horizontal-container">
                            <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                                <mat-label>Course ID</mat-label>
                                <input matInput formControlName="courseID" placeholder="e.g. CEN3031" required
                                    [(ngModel)]="names[i]">
                            </mat-form-field>
                            <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                                <mat-label>Course Passcode</mat-label>
                                <input matInput formControlName="coursePasscode" placeholder="e.g. #124" required
                                    [(ngModel)]="passcodes[i]">
                            </mat-form-field>
                        </div>
                        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                            <mat-label>Decription</mat-label>
                            <input matInput formControlName="courseDescription" required [(ngModel)]="descriptions[i]">
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                        </div>
                        <div class="pad-top-5">
                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Submit</ng-template>
                <div class="pad-20">
                    <!-- TODO: Make this a checkbox before submit is enabled. -->
                    <h3>Please verify information before submission!</h3>
                    <button mat-raised-button color="primary" (click)="RegisterUser()">Submit</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>