<div class="center-container">
    <div class="content">
        <mat-stepper orientation="vertical" linear #stepper>
            <mat-step [stepControl]="initGroup">
                <form [formGroup]="initGroup">
                    <ng-template matStepLabel>Initial Information</ng-template>
                    <div class="pad-20">
                        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" required [(ngModel)]="professor.firstName">
                        </mat-form-field>
                        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" required [(ngModel)]="professor.lastName">
                        </mat-form-field>
                        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                            <mat-label>Number of Courses</mat-label>
                            <input matInput formControlName="numCourses" type="number" required
                                [(ngModel)]="numCourses">
                        </mat-form-field>
                        <button [disabled]="!professor.firstName || !professor.lastName || !numCourses"
                            mat-raised-button color="accent" matStepperNext>Next
                        </button>
                        <mat-error *ngIf="numCourses <= 0"><strong>Error:
                            </strong>Number of Courses must be a number above 0.
                        </mat-error>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngFor="let course of [].constructor(numCourses); let i = index" [stepControl]="courseGroup">
                <form [formGroup]="courseGroup">
                    <ng-template matStepLabel>Course {{i + 1}}</ng-template>
                    <div class="pad-20">
                        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                            <mat-label>Course Name</mat-label>
                            <input matInput formControlName="courseName" placeholder="e.g. Intro to Software" required
                                [(ngModel)]="courses.name[i]">
                        </mat-form-field>
                        <div class="horizontal-container">
                            <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                                <mat-label>Course ID</mat-label>
                                <input matInput formControlName="courseID" placeholder="e.g. CEN3031" required
                                    [(ngModel)]="courses.id[i]">
                            </mat-form-field>
                            <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                                <mat-label>Course Passcode</mat-label>
                                <input matInput formControlName="coursePasscode" placeholder="e.g. #124" required
                                    [(ngModel)]="courses.codes[i]">
                            </mat-form-field>
                        </div>
                        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                            <mat-label>Decription</mat-label>
                            <textarea matInput formControlName="courseDescription" placeholder="Type a response..."
                                required [(ngModel)]="courses.description[i]"></textarea>
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                        </div>
                        <div class="pad-top-5">
                            <button mat-raised-button color="accent" matStepperNext
                                [disabled]="!courses.id[i] || !courses.codes[i] || !courses.name[i] || !courses.description[i]">Next
                            </button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Submit</ng-template>
                <div class="pad-20">
                    <mat-checkbox [(ngModel)]="agree">I have verified the information above!</mat-checkbox>
                    <button mat-raised-button color="accent" [disabled]="!agree"
                        (click)="RegisterUser()">Submit</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>